@import '~bootstrap/scss/bootstrap';

body {
  font-family: 'Prompt', sans-serif;
}

main {
  .col-3 {
    ul {
      li {
        background-color: #212529;
        transition: background-color 0.3s;

        &:hover {
          cursor: pointer;
          background-color: $primary;
        }
      }
    }
  }
}
