@import '~bootstrap/scss/bootstrap';

main {
  .col-3 {
    ul {
      li {
        background-color: #212529;
        transition: 0.3s;
        
        &:hover {
          cursor: pointer;
          background-color: $primary;
        }
      }
    }
  }
}
